.top-navigation{
    position: relative;
    width: 100%;

    .navbar{
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 11;
        display: flex;
        list-style: none;
    
        a{
            color: white !important;
            padding: 0 10px;
        }
    }

    .custom-logo-link{
        position: absolute;
        top: 20px;
        z-index: 12;
        width: 300px;
        right: 20px;
        height: auto;
    }
}
    