@import "./global";
@import "./nav";

$color-primary: #f98e1d;
$bg-black: rgb(15, 15, 15);
$color-secondary: rgb(11, 9, 24);

#home{

    .cta-banner{
        background-color: rgb(247 247 247);

        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            a{
                font-weight: 700;
            }
        }
    }

    .card{
        background: white;
        margin: 1rem 0;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgb(225 225 225 / 25%);
    }
    
    .main{
        min-height: 800px;
        background-size: cover;
        height: 100%;

        &:before {
            content: '';
            background: linear-gradient( -90deg, rgba(11, 9, 24, 0.1) 20%,rgba(11, 9, 24,1) 85%, rgb(11, 9, 24, 1) 100%);
            background-position: center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
        }

        .container{
            display: flex;
            justify-content: left;
            align-items: center;

            .content{
                color: #fff;
                position: absolute;
                width: 1140px;
                max-width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 15px;
                
                h1{
                    font-size: 6em;
                    max-width: 800px;
                }

                a{
                    color: white;
                }
            }
        }
    }

    .introduction{
        h2{
            font-size: 2.5rem;
        }
        .awards-logos{
            display: flex;
            img{
                max-width: 25%;
                padding-right: 2rem;
            }
        }
    }

    .ups{
        background-color: $color-secondary;
        box-shadow: inset 0 0 0 100vw rgba(11, 9, 24, 0.9);
        background-size: cover;

        .wrapper-intro{
            color: white;
        }
        
        .wrapper-cards{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .card{
                width: 31%;

                .img-wrapper{
                    height: 200px;
                    overflow: hidden;
                    position: relative;
                    border-radius: 10px 10px 0px 0px;

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .content-wrapper{
                    padding: 2rem;
                }
            }
        }
    }

    .testimonials{
        .tesimonial{
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .img-wrapper{
                width: 40%;
                height: 400px;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

                img{
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                }
            }
            .quote{
                padding-left: 4rem;
                width: 60%;
            }
        }
    }

    .services{
        display: flex;
    }

    .products{

        .row{
            display: flex;
            align-items: stretch;

            // .card{
            //     position: relative;
            //     height: 500px;
            //     width: 40%;
            //     overflow: hidden;

            //     img{
            //         height: 100%;
            //         object-fit: cover;
            //         position: absolute;
            //         top: 0;
            //     }
            // }
            .tabcontent{
                width: 70%;
                justify-content: center;
                text-align: center;

                &:first-child{
                    display: block;
                }
            }

            .featured-items{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 30%;
                align-items: center;
            }

            .feature{
                width: 60%;
                padding: 0 5rem;
            }

            &:nth-child(2){
                flex-direction: row-reverse;
            }
        }
    }
    .contact{
        .icons{
            display: flex;
            justify-content: space-around;
            width: 100%;

            .icon{
                width: calc(100%/3);
            }
        }
    }

    .parallax{
        overflow: hidden;
        
        .parallax-image  {
            padding-top: 50%;
            position:relative;
            .container{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                width: 100%;
            }
            img{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height: auto;
            }
        }
    }

}
.footer{
    background-color: $color-secondary;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5rem;
    padding-left: 5rem;

    img{
        max-width: 30%;
    }

    .menu-footer-menu-container{
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 50%;

            a{
                color: white !important;
                padding: 0 10px;
            }
        }
    }
}
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: $color-primary;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    animation: fadeEffect 1s; 
  }

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
 

  