@import "./global";
@import "./nav";

$color-primary: #f98e1d;
$color-secondary: rgb(11, 9, 24);

:root{
    --lightorange: #ffebd4;
    --orange: #f98e1d;
    --darkorange: #a75600;
}

#theme-content{

    #loading-screen{
        display: flex;
        align-items: center;
        justify-content: center;
        
        #LoadingBar{
            border: solid 5px #ffffff;
            border-radius: 5px;
            height: 15%;
            width: 20%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .orangebox{
                background-color: var(--lightorange);
                margin-left: 1%;
                width: 13%;
                height: 80%;
                visibility: hidden;
            }
            
            #box1, #box2, #box3, #box4, #box5, #box6, #box7{
                animation-name: box;
                animation-duration: 2.5s;
                animation-iteration-count: infinite
            }
            
            #box1{
                margin-left: 0%;
                border-radius: 5px 0px 0px 5px;
            }
            
            #box2{
                animation-delay: 0.25s;
            }
            
            #box3{
                animation-delay: 0.50s;
            }
            
            #box4{
                animation-delay: 0.75s;
            }
            
            #box5{
                animation-delay: 1s;
            }
            
            #box6{
                animation-delay: 1.25s;
            }
            
            #box7{
                animation-delay: 1.50s;
                border-radius: 0px 5px 5px 0px;
            }
            
            @keyframes box{
                0% {visibility: hidden; background-color: var(--lightorange)}
                20% {visibility: hidden;}
                33% {visibility: visible}
                50% {background-color: var(--orange)}
                100% {background-color: var(--darkorange)}
            }
        }
    }

    #home{
        .video{
            position: relative;
            min-height: 800px;
            overflow: hidden;

            .video-responsive{
                overflow: hidden;
                padding-bottom: 56.25%;
                position: relative;
                height: 0;
            }

            .background-video{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;

            }
        }
    }
}

  